<h1>StaticPages#landing_page</h1>
<p>Find me in app/views/static_pages/landing_page.html.erb</p>
<%= link_to 'privacy policy', privacy_policy_path %>

<%= link_to privacy_policy_path  do %>
  <i class="fa-solid fa-link"></i>
<%end%>

<% if Rails.env.development? %>
  <p>Development</p>
<% elsif Rails.env.production? %>
  <p>Production</p>
<%end%>


